<%- include("_header") -%>

  <h2> Edit Customer</h2>

  <form method="POST">
    <table>
      <tr>
        <td><label for="cusid">ID</label>:</td>
        <td><input type="number" name="cusid" id="cusid" type="number" value="<%= model.cusid %>"
            readonly /></td>
        <td>(read only)</td>
      </tr>
      <tr>
        <td><label for="cusfname">First Name</label>:</td>
        <td><input type="text" name="cusfname" id="cusfname" value="<%= model.cusfname %>" required /></td>
      </tr>
      <tr>
        <td><label for="cuslname">Last Name</label>:</td>
        <td><input type="text" name="cuslname" id="cuslname" value="<%= model.cuslname %>" required /></td>
      </tr>
      <tr>
        <td><label for="cusstate">State</label>:</td>
        <td><input type="text" name="cusstate" id="cusstate" value="<%= model.cusstate %>" minlength="2" maxlength="2"
            required /></td>
      </tr>
      <tr>
        <td><label for="cussalesytd">Sales YTD</label>:</td>
        <td><input type="text" name="cussalesytd" id="cussalesytd" value="<%= model.cussalesytd %>" required /></td>
      </tr>
      <tr>
        <td><label for="cussalesprev">Previous Years Sales</label>:</td>
        <td><input type="text" name="cussalesprev" id="cussalesprev" value="<%= model.cussalesprev %>"
            required /></td>
      </tr>
      <tr>
        <td span="2">
          <input type="submit" value="Update Customer" />

        </td>
      </tr>
    </table>
  </form>

  <div id="output"></div>


  <% if (type==="post" ) { %>
    <% if (msg==="success" ) { %>
      <h3>Customer Updated Successfully!</h3>
      <% } else { %>
        <h3>Error! <%= errorMsg %>
        </h3>
        <% } %>
          <% } %>



            <%- include("_footer") -%>